---

---

<script>
const res = await fetch('/api/characters/all');
const characters = await res.json();

characters.characters.forEach(character => {
	const node = document.createElement("li");
	const link = document.createElement("a");
	link.href = `/character/${character.id}`;
	link.innerText = character.name;
	node.appendChild(link);
	document.getElementById("characters").appendChild(node);
});
</script>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<body>
		<h1>Characters:</h1>
		<ul id="characters"></ul>
	</body>
</html>